# Database
DATABASE_URL="mysql://root:root@db:3306/gestorpro"

# Application
PORT=3001
NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuemail@email.com
SMTP_PASS=suaSenhaDeApp
NOTIFY_EMAILS=seuemail@email.com